@font-face {
    font-family: 'Minion Pro';
    src: url('MinionPro-Disp.woff2') format('woff2'),
        url('MinionPro-Disp.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

